@{
    ViewData["Title"] = "Panel Mechanika";
    var name = ViewBag.FirstName as string ?? "";
}

<div class="container mt-5 text-center">
    <h2 class="mb-4">Panel Mechanika <span class="text-primary">(@name)</span></h2>

    <p>
        <a asp-action="MyOrders" class="btn btn-lg btn-primary px-5">
            Zlecenia
        </a>
    </p>
</div>
