@*
  Views/Mechanik/Index.cshtml
*@
@{
    ViewData["Title"] = "Panel Mechanika";
    var name = ViewBag.FirstName as string ?? "";
}
<h2>Panel Mechanika (@name)</h2>

<p>
    <a asp-action="MyOrders" class="btn btn-primary">
        Zlecenia
    </a>
</p>
