@model WorkshopManager.Models.ViewModels.CreateUserViewModel
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
    <script>
        setTimeout(function() {
        window.location.href = '@Url.Action("Index", "Admin")';
    }, 3000);
    </script>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<h2>Dodaj Recepcjonistę</h2>

<form asp-action="AddReceptionist" method="post">
    
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Surname"></label>
        <input asp-for="Surname" />
        <span asp-validation-for="Surname"></span>
    </div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit">Dodaj</button>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}