@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h2>Panel Administratora</h2>

@if (User.IsInRole("Admin"))
{
    <a class="btn btn-primary" asp-controller="Admin" asp-action="AddReceptionist">Dodaj Recepcjonistę</a>
    <a class="btn btn-primary" asp-controller="Admin" asp-action="AddMechanic">Dodaj Mechanika</a>
    <a asp-controller="Admin" asp-action="Users">Lista użytkowników</a>
}