<h3>Czynności serwisowe</h3>

<p>
    <a asp-controller="ServiceTask"
       asp-action="Add"
       asp-route-orderId="@Model.Id"
       class="btn btn-sm btn-success mb-2">
        Dodaj czynność
    </a>
</p>

@if (Model.ServiceTasks.Any())
{
    <table class="table">
        …
    </table>
}
else
{
    <p>Brak czynności.</p>
}
