@{
    Layout = "_Layout"; // jeśli używasz layoutu
    var firstName = ViewBag.FirstName as string;
}

<div class="container mt-5">
    <h2 class="mb-3">Panel Klienta <span class="text-primary">@firstName</span></h2>

    <p class="lead">
        Witaj, <strong>@firstName</strong>! Tutaj możesz zarządzać swoimi zamówieniami.
    </p>

    <a asp-controller="Klient" asp-action="MyVehicles" class="btn btn-lg btn-primary">
        Moje pojazdy
    </a>
</div>
