@model List<WorkshopManager.Models.ApplicationUser>

<h2>Lista klientów</h2>

<table class="table">
    <thead>
    <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var client in Model)
    {
        <tr>
            <td>@client.Name</td>
            <td>@client.Surname</td>
            <td>@client.Email</td>
            <td>
                <a asp-controller="Vehicle" asp-action="Add" asp-route-clientId="@client.Id" class="btn btn-sm btn-success">
                    Dodaj pojazd
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>