@{
    Layout = "_Layout"; // jeśli używasz layoutu
    var firstName = ViewBag.FirstName as string;
}

<h2>Panel Recepcjonisty @firstName</h2>

<p>Witaj, @firstName! Tutaj możesz zarządzać swoimi zadaniami.</p>
<a asp-controller="Recepcjonista" asp-action="AddClient" class="btn btn-primary mb-3">Dodaj klienta</a>
<a asp-controller="Recepcjonista" asp-action="Clients" class="btn btn-primary mb-3">Lista klientów</a>
